<form asp-action="Index">
    <input type="text" name="MaHTPP" placeholder="Nhập Mã HTPP">
    <input type="text" name="TenHTPP" placeholder="Nhập Tên HTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.thongbao</h1>