<form asp-action="Index">
    <h1>Dữ liệu gửi từ controller về là: @ViewBag.TB</h1>
    <label>Nhập Mã HTPP</label>
    <input type="text" name="MaHTPP"/>
    <label>Nhập Tên HTPP</label>
    <input type="text" name="TenHTPP"/>
    
</form>