<form asp-action="Index">
    <input type="text" name="MaDaiLy" placeholder="Nhập Mã Dai Ly">
    <input type="text" name="TenDaiLy" placeholder="Nhập Tên Dai Ly">
    <input type="text" name="DiaChi" placeholder="Nhập DiaChi">
    <input type="text" name="NguoiDaiDien" placeholder="Nhập NguoiDaiDien">
    <input type="text" name="DienThoai" placeholder="Nhập DienThoai">
    <input type="text" name="MaHTPP" placeholder="Nhập Mã HTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.thongbao</h1>