<form asp-action="Index">
    <input type="text" name="MaDaiLy" placeholder="Nhap MaDaiLy">
    <input type="text" name="TenDaiLy" placeholder="Nhap TenDaiLy">
    <input type="text" name="DiaChi" placeholder="Nhap DiaChi">
    <input type="text" name="NguoiDaiDien" placeholder="Nhap NguoiDaiDien">
    <input type="text" name="DienThoai" placeholder="Nhap DienThoai">
    <input type="text" name="MaHTPP" placeholder="Nhap MaHTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.thongbao</h1>